*{
    background-color: aquamarine;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: dashed;
    border-radius: 4PX;
    text-shadow: 34pt;
}